.externalToolBuilders/*
*.db
*.class
*.jar
*/webapp/WEB-INF/classes/*
*/webapp/WEB-INF/lib/*
*/lib/*
*/target/*
target/*
*/.sonar/*
*.settings/*
*/.settings/*
.settings/*
*sonar-project.properties
.classpath
*/.classpath
.*~
.project
*/.project
.tern-project
*/bin/*
bin/*
.idea/
.settings/
*.iml
**/jacoco.exec